anexos/A5.2. Especificación técnica y arquitectura de los flujos de Power Automate/A5.2.3. Extracción del flujo Webhook-Report/Microsoft.Flow/definition.json
{"name":"891cf405-8d0a-497e-acc8-5aa77a090ea1","id":"/providers/Microsoft.Flow/flows/891cf405-8d0a-497e-acc8-5aa77a090ea1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Webhook-Report","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"93528bed-ca36-48cd-8d95-cd2a47f6a581","type":"User","tenantId":"803c4616-a5ea-45f0-a711-adac45624b80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-27T16:40:44.2254687Z","connectionKeySavedTimeKey":"2026-03-27T16:40:44.2254687Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"},"teams.chat":{"defaultValue":"","type":"String"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"TeamsWebhook","inputs":{"schema":{"type":"object","properties":{"type":{"type":"string"},"attachments":{"type":"array","items":{"type":"object","properties":{"contentType":{"contentType":{"type":"string"}},"content":{"content":{"type":"object","properties":{"$schema":{"type":"string"},"type":{"type":"string"},"version":{"type":"string"},"body":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"}},"required":["type"]}}}}}},"required":["contentType","content"]}}}},"triggerAuthenticationType":"All"}}},"actions":{"Initialize_variable_(Body)":{"runAfter":{"Do_Not_Remove_FlowIL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Body","type":"object","value":"@triggerBody()"}]}},"Attachments_is_null":{"actions":{"Post_card_in_a_chat_or_channel_1":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:cce40ba028d74e2995f3c91a57d279e8@thread.v2","body/messageBody":"@string(variables('Body'))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable_(Attachments)":["Succeeded"]},"else":{"actions":{"For_each":{"foreach":"@triggerOutputs()?['body']?['attachments']","actions":{"Post_card_in_a_chat_or_channel":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:cce40ba028d74e2995f3c91a57d279e8@thread.v2","body/messageBody":"@item()?['content']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@equals(variables('Body')?['Attachments'] , null)",true]}]},"type":"If"},"Initialize_variable_(Attachments)":{"runAfter":{"Initialize_variable_(Body)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Attachments","type":"object","value":{}}]}},"Do_Not_Remove_FlowIL":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"flow.IL (DO NOT REMOVE)","type":"string","value":"{\"version\":\"1.0\",\"automation\":{\"template\":{\"id\":\"34ac6c11796143e1807d6e16c4c28050\",\"summary\":\"${format(resources['34ac6c11796143e1807d6e16c4c28050.summary'], context['parameters']['TeamsChat'])}\",\"parameters\":[{\"id\":\"TeamsChat\",\"typeName\":\"Teams.Chat\",\"mode\":\"input\",\"value\":\"19:cce40ba028d74e2995f3c91a57d279e8@thread.v2\",\"valueDisplayName\":\"Team Delivery\"}],\"editorBindings\":[{\"parameterId\":\"TeamsChat\"}],\"displayName\":\"Enviar alertas de webhook a un chat\"}},\"dataBindings\":{\"Post_card_in_a_chat_or_channel\":[{\"source\":\"${context['parameters']['TeamsChat']}\",\"target\":\"${json['inputs']['parameters']['body/recipient']}\"}],\"Post_card_in_a_chat_or_channel_1\":[{\"source\":\"${context['parameters']['TeamsChat']}\",\"target\":\"${json['inputs']['parameters']['body/recipient']}\"}]}}"}]}}},"description":"Genere una dirección URL de webhook que permita a cualquier usuario enviar actualizaciones externas de sistemas a un chat mediante tarjetas adaptables o tarjetas de mensajes enriquecidas."},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-1d232bf4b09b417ab2ecf3350e8d8cc6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}