anexos/A5.2. Especificación técnica y arquitectura de los flujos de Power Automate/A5.2.2. Extracción del flujo Alertas-HITL/Microsoft.Flow/definition.json
{"name":"02f35358-ccaa-4473-a549-42a0af8e235a","id":"/providers/Microsoft.Flow/flows/02f35358-ccaa-4473-a549-42a0af8e235a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Alertas-Teams-Humans-In-The-Loop","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"93528bed-ca36-48cd-8d95-cd2a47f6a581","type":"User","tenantId":"803c4616-a5ea-45f0-a711-adac45624b80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-25T18:56:25.8892873Z","connectionKeySavedTimeKey":"2026-03-25T18:56:25.8892873Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Cuando_se_crea_un_archivo":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/","9486ECC2AB6E762C!s28f6e53e690545d4b38fe04704645f4c":"/Documentos/GitHub/it-mail-service-desk/docs/Alertas_Teams","operationMetadataId":"2e599e40-0b56-49e5-8b7b-95ee3f91b7b7"},"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"9486ECC2AB6E762C!s28f6e53e690545d4b38fe04704645f4c"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedrive","connectionName":"shared_onedrive","operationId":"OnNewFileV2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Análisis_del_archivo_JSON":{"runAfter":{"Obtener_contenido_de_archivo":["Succeeded"]},"metadata":{"operationMetadataId":"f8dca3ba-1aa0-4920-8511-44f4839acba8"},"type":"ParseJson","inputs":{"content":"@string(body('Obtener_contenido_de_archivo'))","schema":{"type":"object","properties":{"id_mensaje":{"type":"string"},"asunto":{"type":"string"},"remitente":{"type":"string"},"score_ia":{"type":"integer"},"razonamiento_ia":{"type":"string"}}}}},"Obtener_contenido_de_archivo":{"runAfter":{},"metadata":{"operationMetadataId":"723074cf-7ba4-4ad9-9429-aa0713a8d42b"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerOutputs()?['headers/x-ms-file-id']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedrive","connectionName":"shared_onedrive","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Publicar_tarjeta_adaptable_y_esperar_una_respuesta":{"runAfter":{"Eliminar_archivo":["Succeeded"]},"metadata":{"operationMetadataId":"8c42c2b2-d852-4cc5-8b41-b878abc23db6"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"🚨 ALERTA DE INCIDENCIA\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Large\",\n            \"color\": \"Attention\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Prioridad IA detectada: Nivel @{body('Análisis_del_archivo_JSON')?['score_ia']}/5\",\n            \"isSubtle\": true,\n            \"spacing\": \"None\"\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                { \"title\": \"👤 De:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['remitente']}\" },\n                { \"title\": \"📌 Asunto:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['asunto']}\" }\n            ],\n            \"spacing\": \"Medium\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"**🧠 Análisis de la IA:**\",\n            \"weight\": \"Bolder\",\n            \"spacing\": \"Medium\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{body('Análisis_del_archivo_JSON')?['razonamiento_ia']}\",\n            \"wrap\": true,\n            \"fontType\": \"Monospace\",\n            \"color\": \"Warning\"\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                { \"title\": \"🤬 Queja IA:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['nivel_queja_ia']}/10\" },\n                { \"title\": \"⏳ Retraso IA:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['nivel_retraso_ia']}/10\" }\n            ],\n            \"spacing\": \"Small\"\n        },\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"spacing\": \"Medium\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"🛠️ **Validación Multidimensional (Human-in-the-Loop)**\",\n                    \"weight\": \"Bolder\"\n                },\n                {\n                    \"type\": \"Input.Number\",\n                    \"id\": \"nivel_queja_humano\",\n                    \"label\": \"1️⃣ Corregir Nivel de Queja (1-10):\",\n                    \"min\": 1,\n                    \"max\": 10,\n                    \"value\": \"@{body('Análisis_del_archivo_JSON')?['nivel_queja_ia']}\",\n                    \"errorMessage\": \"El valor debe estar entre 1 y 10.\"\n                },\n                {\n                    \"type\": \"Input.Number\",\n                    \"id\": \"nivel_retraso_humano\",\n                    \"label\": \"2️⃣ Corregir Nivel de Urgencia/Retraso (1-10):\",\n                    \"min\": 1,\n                    \"max\": 10,\n                    \"value\": \"@{body('Análisis_del_archivo_JSON')?['nivel_retraso_ia']}\",\n                    \"errorMessage\": \"El valor debe estar entre 1 y 10.\"\n                },\n                {\n                    \"type\": \"Input.Text\",\n                    \"id\": \"razonamiento_humano\",\n                    \"label\": \"Comentario de corrección:\",\n                    \"isMultiline\": true\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"📧 Responder\",\n            \"url\": \"https://outlook.live.com/mail/0/inbox/id/@{encodeUriComponent(body('Análisis_del_archivo_JSON')?['id_mensaje'])}\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"📤 Enviar Feedback\",\n            \"style\": \"positive\",\n            \"data\": { \"accion\": \"feedback\" }\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"✅ PROCESAR (Sin cambios)\",\n            \"data\": { \"accion\": \"procesar\" }\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\"\n}","body/body/updateMessage":"✅ Acción registrada correctamente.","body/body/recipient/recipient":"19:cce40ba028d74e2995f3c91a57d279e8@thread.v2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse"},"authentication":"@parameters('$authentication')"}},"Modificador":{"runAfter":{"Publicar_tarjeta_adaptable_y_esperar_una_respuesta":["Succeeded"]},"cases":{"procesar":{"case":"procesar","actions":{}}},"default":{"actions":{"Crear_archivo_":{"metadata":{"operationMetadataId":"6487c7be-7881-44cc-a4ed-d7eb507fbe26"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Documentos/GitHub/it-mail-service-desk/docs/Feedback_Queue","name":"@concat('feedback_', body('Análisis_del_archivo_JSON')?['id_mensaje'], '.json')","body":"{\n  \"id_mensaje\": \"@{body('Análisis_del_archivo_JSON')?['id_mensaje']}\",\n  \"nivel_queja_humano\": @{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/nivel_queja_humano']},\n  \"nivel_retraso_humano\": @{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/nivel_retraso_humano']},\n  \"razonamiento_humano\": \"@{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/razonamiento_humano']}\"\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedrive","connectionName":"shared_onedrive","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Publicar_tarjeta_adaptable_y_esperar_una_respuesta_2":{"runAfter":{"Crear_archivo_":["Succeeded"]},"metadata":{"operationMetadataId":"bd32f95e-5f98-4381-9778-7682d0f71b0b"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"✅ FEEDBACK REGISTRADO\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Large\",\n            \"color\": \"Good\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"El sistema ha guardado tu corrección multidimensional. La incidencia sigue abierta para su resolución.\",\n            \"isSubtle\": true,\n            \"wrap\": true,\n            \"spacing\": \"None\"\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                { \"title\": \"👤 De:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['remitente']}\" },\n                { \"title\": \"📌 Asunto:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['asunto']}\" },\n                { \"title\": \"🤖 Score General IA:\", \"value\": \"@{body('Análisis_del_archivo_JSON')?['score_ia']}/5\" },\n                { \"title\": \"🤬 Tu Nivel Queja:\", \"value\": \"@{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/nivel_queja_humano']}/10\" },\n                { \"title\": \"⏳ Tu Nivel Retraso:\", \"value\": \"@{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/nivel_retraso_humano']}/10\" }\n            ],\n            \"spacing\": \"Medium\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"**🧠 Análisis de la IA:**\",\n            \"weight\": \"Bolder\",\n            \"spacing\": \"Medium\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{body('Análisis_del_archivo_JSON')?['razonamiento_ia']}\",\n            \"wrap\": true,\n            \"fontType\": \"Monospace\",\n            \"color\": \"Warning\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"**💬 Tu Comentario de Corrección:**\",\n            \"weight\": \"Bolder\",\n            \"spacing\": \"Medium\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/razonamiento_humano']}\",\n            \"wrap\": true,\n            \"color\": \"Accent\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"📧 Responder en Outlook\",\n            \"url\": \"https://outlook.live.com/mail/0/inbox/id/@{encodeUriComponent(body('Análisis_del_archivo_JSON')?['id_mensaje'])}\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"✅ Finalizar y PROCESAR\",\n            \"style\": \"positive\",\n            \"data\": { \"accion\": \"procesar\" }\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\"\n}","body/body/updateMessage":"✅ Ticket marcado como resuelto con éxito.","body/body/recipient/recipient":"19:cce40ba028d74e2995f3c91a57d279e8@thread.v2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse"},"authentication":"@parameters('$authentication')"}}}},"expression":"@outputs('Publicar_tarjeta_adaptable_y_esperar_una_respuesta')?['body/data/accion']","metadata":{"operationMetadataId":"4cb24b79-8ac4-4413-b80f-f1796de4d72e"},"type":"Switch"},"Eliminar_archivo":{"runAfter":{"Análisis_del_archivo_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerOutputs()?['headers/x-ms-file-id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedrive","connectionName":"shared_onedrive","operationId":"DeleteFile"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_onedrive":{"connectionName":"shared-onedrive-67b448e9-63af-4fee-b448-1a3ea8d1d213","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedrive","tier":"NotSpecified","apiName":"onedrive","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-1d232bf4b09b417ab2ecf3350e8d8cc6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}